.page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease-out, visibility 0.5s ease-out;
  opacity: 1;
  visibility: visible;
}

.page-loader.fade-out {
  opacity: 0;
  visibility: hidden;
}

.spinner {
  --size: 30px;
  --first-block-clr: #da0530;
  --second-block-clr: #ffffff;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: relative;
}

.spinner::after,
.spinner::before {
  position: absolute;
  content: "";
  width: var(--size);
  height: var(--size);
  top: 50%;
  left: 50%;
  background: var(--first-block-clr);
  animation: up 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

.spinner::after {
  background: var(--second-block-clr);
  top: calc(50% - var(--size));
  left: calc(50% - var(--size));
  animation: down 2.4s cubic-bezier(0, 0, 0.24, 1.21) infinite;
}

@keyframes down {
  0%, 100% { transform: none; }
  25% { transform: translateX(100%); }
  50% { transform: translateX(100%) translateY(100%); }
  75% { transform: translateY(100%); }
}

@keyframes up {
  0%, 100% { transform: none; }
  25% { transform: translateX(-100%); }
  50% { transform: translateX(-100%) translateY(-100%); }
  75% { transform: translateY(-100%); }
}

